.section_padding {
  padding: 2rem 4rem;
}
.footer {
  background-color: rgba(237, 209, 218, 0.103);
  color: rgb(248, 248, 217);
}
.sb_footer {
  display: flex;
  flex-direction: column;
}
.sb_footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;
}
.sb_footer-links_div {
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  font-size: 24px;
  cursor: pointer;
}
.socialmedia a {
  text-decoration: none;
  color: rgb(248, 248, 217);
}
.contact {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  row-gap: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.contact svg {
  padding-top: 10px;
}
.address,
.whtsp,
.mail,
.phone {
  display: flex;
  flex-direction: row;
}
.details p {
  display: flex;
  flex-direction: column;
}
.sb_footer-links_div h4 {
  font-size: 15px;
  margin-bottom: 0.9rem;
}

.sb_footer-links_div p {
  font-size: 12px;
  margin-left: 1rem;
  font-weight: 500;
}
hr {
  width: 100%;
}
.sb_footer-copyright p {
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}

@media (max-width: 850px) {
  .section_padding {
    padding: 1rem 2rem;
  }
  .sb_footer-heading h1 {
    font-size: 44px;
  }
}
@media (max-width: 550px) {
  .sb_footer-heading h1 {
    font-size: 34px;
  }
  .sb_footer-links_div {
    margin: 1rem 0;
  }
  .sb_footer-btn p {
    font-size: 14px;
    line-height: 20px;
  }
  .sb_footer-below {
    flex-direction: column;
    justify-content: left;
  }
  .sb_footer-below-links {
    flex-direction: column;
  }
  .sb_footer-below-links p {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}
@media (max-width: 400px) {
  .sb_footer-heading h1 {
    font-size: 27px;
  }
}
