@import url("https://fonts.googleapis.com/css2?family=Faustina&display=swap");

body {
  /* background-color: black; */
  color: #f8f2d9;
  font-family: "Faustina", serif;
  background-color: #0a0707;
  text-align: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
